<h1>DragonBall Page</h1>
<hr>

<section class="row">
    <div class="col-12 col-sm-6">

        <h3>Agregar:</h3>
        <input type="text" class="form-control mb-2" placeholder="Nombre del personaje"/>
        <input type="number" class="form-control mb-2" placeholder="Poder del personaje"/>
        <button class="mt-2 btn btn-primary">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
        <h3>Listado de personajes</h3>
        <ul>
            @for (character of characters(); track character.id; let idx = $index) {
                @if (character.power > 9000) {
                    <li>
                        <span>{{idx + 1}}. {{character.name}}</span>
                        <strong
                        [class.text-danger]="character.power > 30000"
                        [class.text-primary]="character.power < 30000"
                >
                    ({{character.power }})</strong>
            </li>
            } @else {
                <li><strong>No es relevante</strong></li>
            }}
        
        
        </ul>

    </div>
</section>