<h3>Agregar:{{ name() }}</h3>

        <input
        type="text"
        class="form-control mb-2"
        placeholder="Nombre del personaje"
        [value]="name()"
        (change)="name.set(txtName.value)"
        (input)="name.set(txtName.value)"
        #txtName
        />

        <h3>Estado base de Poder</h3>
        <input
        type="number"
        class="form-control mb-2"
        placeholder="Poder del personaje"
        [value]="power()"
        (input)="power.set(+txtPower.value)"
        #txtPower
        />

        <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
